<!--Add Buger-->
<div class="row">
  <div class="col-4">
  <form>
    <div class="form-group">
      <label for="burger-desc">Add New Burger</label>
      <input type="text" class="form-control" id="burger-desc" placeholder="Ex. Cheese Burger">
    </div>
    <button class="btn btn-secondary" id="save">Add Burger</button>
  </form>
  </div>
  <!--Existing burgers-->
  <div class="col-4">
    Available
    <ul>
    {{#each burger}}
    {{#unless eaten}}
      {{>burger/burgerPartial eaten=false}}
    {{/unless}}
    {{/each}}
    </ul>
  </div>
  <!--Eaten burgers-->
  <div class="col-4">
    Devoured
    <ul>
    {{#each burger}}
    {{#if eaten}}
      {{>burger/burgerPartial eaten=true}}
    {{/if}}
    {{/each}}
    </ul>
  </div>
</div>