<!-- Add Burger -->
<div class="card-deck">
  <div class="card">
    <div class="card-header">Add New Burger</div>
    <div class="card-body">
      <form>
      <div class="form-group">
        <input type="text" class="form-control" id="burger-desc" placeholder="Ex. Cheese Burger">
      </div>
      <button class="btn myBtn" id="save"><i class="fa fa-plus"></i></button>
    </form>
    </div>
  </div>
  <!--Existing burgers-->
  <div class="card">
    <div class="card-header">At your table</div>
    <div class="card-body">
      
      {{#each burger}}
      {{#unless eaten}}
        {{>burger/burgerPartial eaten=false}}
      {{/unless}}
      {{/each}}
      
    </div>
  </div>

  <div class="card">
    <div class="card-header">Devoured</div>
    <div class="card-body">
      
        {{#each burger}}
        {{#if eaten}}
          {{>burger/burgerPartial eaten=true}}
        {{/if}}
        {{/each}}
        
    </div>
  </div>
</div>