<div class="listitem">
  {{burger_desc}}&nbsp;
  {{#unless eaten}}
         <button class="btn myBtn noEat" burger-id="{{burger_id}}"><i class="fas fa-trash"></i></button>   
        <button class="btn myBtn eat" burger-id="{{burger_id}}"><img class="btnImg" src="/assets/images/eat.png"></button>
        
  {{/unless}}
  {{#if eaten}}
        <button class="btn myBtn delete" burger-id="{{burger_id}}"><i class="fas fa-trash"></i></button>
  {{/if}}
</div>